@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

.price-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  height: 250px;
  border: 1px solid rgb(221,221,221);
  border-radius: 12px;
  box-shadow: rgb(0 0 0 / 12%) 0 6px 6px;
  padding: 24px;
  
}

.container{
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
}

.button{
  width: 90%;
  padding: 15px;
  border-radius: 10px;
  color: rgb(255,255,255);
  text-align: center;
  background: linear-gradient(135deg, rgb(255,56,92) 20%, rgb(189,30,89));
}

.images-section{
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.sub-images-section{
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.main-image{
  width: 50%;
  height: 270px;
  overflow: hidden;
}

.main-image img{
  width: 100%;
}

.section{
  display: flex;
  margin: 20px 0 0 0;
  justify-content: space-between;
}

.information{
  width: 60%;
}

/*main{
display: flex;
flex-direction: row;
}*/

.feed-container{
width: 50%;
height: 100%;
background-color: #f8f8f8;
padding: 20px;
}

.feed{
display: flex;
flex-wrap: wrap;
}

.card{
padding: 10px;
}

.card img{
  max-width: 250px;
  border-radius: 20px;
}

.map{
  width: 50%;
}
